<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{esqueleto/esqueleto}"
>

<body>

<div layout:fragment="content" class="container">
    <div class="row">
        <div class="card">
            <div class="card-title">
                <h1 class="center">Lista de empleados</h1>
            </div>
            <div class="card-content">
                <table class="responsive-table ">
                    <thead>
                    <tr>
                        <th>N°</th>
                        <th>DNI</th>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Estado</th>
                        <th>Cargo</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>

                    <tbody>

                    <th:block th:each="empleado : ${listadoEmpleado}">
                        <tr>
                            <td th:text="${empleado.id}"></td>
                            <td th:text="${empleado.dni}"></td>
                            <td th:text="${empleado.apellido}"></td>
                            <td th:text="${empleado.nombre}"></td>
                            <td th:text="${empleado.direccion}"></td>
                            <td th:text="${empleado.estado}"></td>
                            <td th:text="${empleado.getCargoId()}"></td>

                            <td>
                                <a class="btn-small" href="" th:href="@{/empleado/editar/{id}(id=${empleado.id})}">Editar</a>
                                <a class="btn-small" href="" th:href="@{/empleado/eliminar/{id}(id=${empleado.id})}">Eliminar</a>
                            </td>
                        </tr>
                    </th:block>

                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>